<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>test app</title>
    <script type="text/javascript">
      window.pageConfig = {
        serverTime: '{{ serverTime }}',
        _csrf: '{{ctx.csrf | safe}}',
        staticPath: '{{ staticPath }}'
      };
    </script>
    <link href="./static/css/npm.antd.f7adb0d9.chunk.css" rel="stylesheet" />
    <link href="./static/css/vendors~main.ff29e5f6.chunk.css" rel="stylesheet" />
    <link href="./static/css/main.5ce32d85.chunk.css" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
    <script src="./static/js/runtime~main.c3ae99dc.js"></script
    ><script src="./static/js/npm.antd.af4cb28b.chunk.js"></script
    ><script src="./static/js/npm.rc-util.5f8e4c86.chunk.js"></script
    ><script src="./static/js/npm.lodash.597d5a39.chunk.js"></script
    ><script src="./static/js/npm.echarts.863b7298.chunk.js"></script
    ><script src="./static/js/npm.zrender.5460bb89.chunk.js"></script
    ><script src="./static/js/npm.rc-calendar.9f044a6b.chunk.js"></script
    ><script src="./static/js/npm.ant-design.043b607e.chunk.js"></script
    ><script src="./static/js/npm.rc-pagination.064ca390.chunk.js"></script
    ><script src="./static/js/npm.rc-animate.51b5467e.chunk.js"></script
    ><script src="./static/js/npm.react-dom.14dc3a37.chunk.js"></script
    ><script src="./static/js/npm.mobx.99e47897.chunk.js"></script
    ><script src="./static/js/npm.mockjs.bcc89dad.chunk.js"></script
    ><script src="./static/js/vendors~main.ba00824e.chunk.js"></script
    ><script src="./static/js/main.b298291b.chunk.js"></script>
  </body>
</html>
